h1 {
    color:black;
    
  }
  h2 {
    color:blueviolet;
  }

  p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
  }
  em{
      color:blue;
  }

    body{
        background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvTCQJsWYTxpVSJPbpVIuIAkMcu4J7hYubpMdQ6CSoh0Nz7ftf");
      background-size:cover;
    }

   