h1 {
    color:rgb(68, 0, 255);
    
  }
  h2 {
    color:black;
  }

  p {
    font-family: sans-serif;
    display:flex;
    
  }
  ul {
    line-height: 40px;
  }
  em{
      color:blue;
  }

    body{
        background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvTCQJsWYTxpVSJPbpVIuIAkMcu4J7hYubpMdQ6CSoh0Nz7ftf");
      background-size:cover;
    }
    .makeup {
      width: 30%;
      float: right;
      background-color: yellow;
    }
   